.App {
  text-align: center;
  background-color: #ff7e69;
  text-transform: uppercase;
  /* padding-top: 5vh; */
  /* padding-left: 5vw;
  padding-right: 5vw; */
  /* padding-bottom: 5vh; */
}

.App-body {
  padding-top: 50vh;
}

.App-logo {
  padding-top: 10vh;
}

.App-logo-pic {
  animation: App-logo-spin infinite 40s linear;
  width: 50vw;
  /* padding-top: 20vh; */
  z-index: 1;
  position: relative;
}

.App-header {
  background-color: #222;
  height: 10px;
  padding: 20px;
  color: white;
  z-index: 1000;
  position: relative;
}

.App-footer {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #ff9469;
}

.About-me {
  padding-top: 10vh;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: #ff6969;
}

.About-me p {
  padding-top: 10vh;
  padding-bottom: 40vh;
  font-size: 18px;
  margin: 0;
}

.Projects-worked-on {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: #ffa269;
}

.Projects-worked-on h3 {
  padding-top: 20vh;
  font-size: 30px;
}

h1 {
  font-size: 40px;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-flex;
  padding: 20px;
}

.Menu-button {
  background-color: white;
  /*height: 5px;*/
  padding: 5px;
  width: 100px;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
