.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 40s linear;
  height: 500px;
  padding: 10%;
}

.App-header {
  background-color: #222;
  height: 10px;
  padding: 20px;
  color: white;
}

.Menu-button {
  background-color: white;
  /*height: 5px;*/
  padding: 5px;
  width: 100px;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
